@import url("components/avatar.css");
@import url("components/banner.css");
@import url("components/footer.css");
@import url("components/card.css");
@import url("components/features.css");

body {
  margin: 0;
  font-family: Open-sans, sans-serif;
}
h1, h2, h3 {
  font-family: Raleway, Helvetica, sans-serif;
}

h1{
  font-size: 50px;
  color: white;
  margin-bottom: 30px;
}

h2 {
  font-size: 28px;
  margin-top: 0;
  font-family: 'Open Sans', sans-serif;
  color: white;
  font-weight: lighter;
  margin-bottom: 50px;
}
.padded {
  padding: 100px 0;
}
.wrapper-grey {
  background: #F4F4F4;
}
